<breadcrumbs class="breadcrumbs"></breadcrumbs>
<div class="tags-list-container">
    <div ng-include="'views/Dashboard/activities/container-header.html'"></div>
    <div class="tags-container-holder">
        <div class="list-group pull-left">
            <a class="list-group-item" ng-class="{'activated':item===controller.currentTag}"
               ng-repeat="item in controller.list | filter:controller.searchFor">
                <div class="pull-right btn-group btn-group-xs actions-control">
                    <span class="btn btn-default " ng-click="controller.toggleView()" ng-class="{'active':controller.view=='json'}" title="delete this tag">json</span>
                    <div class="btn btn-default">
                        <span class="control-item glyphicon glyphicon-trash" ng-click="controller.delete(item)" title="delete this tag"></span>
                    </div>
                </div>
                <h5 class="list-group-item-heading truncate" ng-click="controller.inspect(item)">
                    <span class="object-property">Tag name: </span>
                    <span class="object-value" ng-bind="item"></span>

                    <div class="header-divider"></div>
                </h5>
            </a>
        </div>
        <div ng-include="'views/Dashboard/Tags/partials/tag-content.html'"></div>
    </div>
</div>