<div class="modal-flipper-wrapper" ng-class="{'flip':isFlipped}">
    <div class="side front">
        <div class="modal-header">
            <span class="pull-right modal-flipper glyphicon glyphicon-circle-arrow-right" ng-click="flip()"></span>

            <h3 class="modal-title">From a Dockerfile</h3>
        </div>
        <div class="modal-body">
            <input type="file" class="file-input"/>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="create()">Create</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </div>
    <div class="side back">
        <div class="modal-header">
            <span class="pull-right modal-flipper glyphicon glyphicon-circle-arrow-left" ng-click="flip()"></span>

            <h3 class="modal-title">From git repository</h3>
        </div>
        <div class="modal-body">
            here is an example
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="create()">Create</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </div>

</div>
