.menu-header-docker {
  padding: 5px;
  .login-button {
    cursor: pointer;
  }
  .sign-up-button {
    cursor: pointer;
  }
}

.main-menu-dropdown {
  ul {
    li {
      cursor: pointer;
    }
  }
}