.tags-list-container {
  .list-group-item:hover {
    cursor: pointer;
  }
  .list-group {
    width: 15%;
  }
  .tag-content {
    width: 83%;
    background-color: #F9EFE2;
    border-radius: 10px;
    padding: 5px;
    min-height: 300px;
    .show-details-button:focus {
      background-color: #ffffff;
    }
    .show-details-button:hover {
      background-color: #e6e6e6;;
    }
    .show-details-button{
      margin-left: -10px;
    }
  }

  .tags-container-holder {
    display: inline-block;
    width: 100%;
  }
  .object-displayer {
    .object-value {
      font-weight: bold;
    }
  }
  .image-history {
    margin-left: 10px;
  }
  .history-container {
    .margin-left-item {
      margin-left: 10px;
    }
    .submenu-item {
      font-weight: bold;
      margin-bottom: 0;
    }
    .submenu-config {
      margin-left: 10px;
    }
  }
}
