<div class="container">
    <div class="jumbotron">


        <h1 class="index-header">Welcome to docker panel</h1>

    </div>

    <div class="row">
        <div class="col-md-3">
            <p>
                <b>Docker Engine or “Docker”</b> creates and runs Docker containers. Install Docker on Ubuntu, Mac OS X,
                or
                Windows. Or use the Install menu to choose from others.
            </p>
        </div>
        <div class="col-md-3">
            <p><b>Docker Machine</b> automates container provisioning on your network or in the cloud. Install machine
                on
                Windows, Mac OS X, or Linux.</p>
        </div>
        <div class="col-md-3">
            <p>You can check all docker documentation <a href="https://docs.docker.com/">here</a></p>
        </div>
        <div class="clearfix visible-lg"></div>
    </div>
</div>