<div class="tag-content pull-right">
    <div class="pull-right btn-group btn-group-xs">
                <span class="btn btn-default " ng-click="controller.toggleView()"
                      ng-class="{'active':controller.view=='json'}" title="delete this tag">json</span>
    </div>
    <div class="history-container" ng-show="controller.manifests[controller.currentTag].parsedHistory">
        <json-formatter ng-if="controller.view=='json'"
                        json="controller.manifests[controller.currentTag].parsedHistory"></json-formatter>

        <div class="custom-fields" ng-if="controller.view!='json'">
            <div class="object-displayer">
                <span class="object-property">Architecture: </span>
                        <span class="object-value"
                              ng-bind="controller.manifests[controller.currentTag].architecture"></span>
            </div>
            <div class="object-displayer">
                <span class="object-property">Created: </span>
                        <span class="object-value"
                              ng-bind="controller.manifests[controller.currentTag].parsedHistory.created"></span>
            </div>
            <h5 class="submenu-item">Configuration</h5>

            <div class="submenu-config">
                <div class="object-displayer">
                    <span class="object-property">Domain name: </span>
                            <span class="object-value"
                                  ng-bind="controller.manifests[controller.currentTag].parsedHistory.config.Domainname"></span>
                </div>
                <div class="object-displayer">
                    <span class="object-property">Exposed ports: </span>

                    <div class="margin-left-item object-value"
                         ng-repeat="(port,value) in controller.manifests[controller.currentTag].parsedHistory.config.ExposedPorts">
                        <span>- </span>
                        <span ng-bind="port"></span>
                         </div>
                </div>
                <div class="object-displayer">
                    <span class="object-property">Labels: </span>

                    <div class="object-value"
                         ng-repeat="(label,value) in controller.manifests[controller.currentTag].parsedHistory.config.Labels">
                        <span ng-bind="label+'='"></span>
                        <span ng-bind="value"></span>
                    </div>
                </div>
                <div class="object-displayer">
                    <span class="object-property">Volumes: </span>

                    <div class="margin-left-item object-value"
                         ng-repeat="(volume,value) in controller.manifests[controller.currentTag].parsedHistory.config.Volumes">
                        <span>-   </span>
                        <span ng-bind="volume"></span>
                         </div>
                </div>
                <div class="btn-group btn-group-xs">
                    <a class="show-details-button btn btn-default" ng-click="toggleCollapse()" data-toggle="collapse"
                       data-parent="#accordion" href="#show-more-accordion">Details
                        <span class="glyphicon"
                              ng-class="{'glyphicon-collapse-down':!showDetails,'glyphicon-collapse-up':showDetails}"></span>
                    </a>
                </div>
                <div id="show-more-accordion" class="show-details collapse" ng-class="{'out':!showDetails, 'in':showDetails}">
                    <div class="object-displayer">
                        <span class="object-property">Entry point: </span>
                            <span class="object-value"
                                  ng-bind="controller.manifests[controller.currentTag].parsedHistory.config.Entrypoint[0]"></span>
                    </div>
                    <div class="object-displayer">
                        <span class="object-property">Cmd: </span>
                                <span class="object-value"
                                      ng-bind="(controller.manifests[controller.currentTag].parsedHistory.config.Cmd || []).join(';')"></span>
                    </div>
                    <div class="object-displayer">
                        <span class="object-property">Environment: </span>

                        <div class="object-value margin-left-item"
                             ng-repeat="env in controller.manifests[controller.currentTag].parsedHistory.config.Env">
                            <span>- </span>
                            <span ng-bind="env"></span>
                             </div>
                    </div>
                    <div class="object-displayer">
                        <span class="object-property">Working dir: </span>
                            <span class="object-value"
                                  ng-bind="controller.manifests[controller.currentTag].parsedHistory.config.WorkingDir"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>